.viewcard{
    background-color: white;
    width: 280px;
    height: 150px;
    border-radius: 15px;
    padding: 12px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:20px;
    position: relative;
    overflow: hidden;
   
}


  .date {
    position: absolute;
    top:126px;
    font-size: .8rem;
   
}

.viewdata .title{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.viewdata .note{
 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.viewcard .btn {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: rgb(255, 221, 0);
    cursor: pointer;
    align-self: flex-end;
    border-radius: 5px;
    /* position: absolute; */
    /* right: 120px; */
    /* top:5px; */
    /* align-self: flex-end; */

 
}

.date{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.viewcard .btn:hover {
    color: yellow;
}


@media only screen and (max-width: 600px) {

    .viewcard{
        width:320px;
    height:150px
    }
    
}